/*Estilos Signin-Header*/
body{
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background:linear-gradient(rgba(87, 84, 84, 0.5), rgba(87, 74, 74, 0.5)),url('../assets/images/FONDO.png');
  background-position: center center;	  
  background-repeat: no-repeat;
	background-attachment: fixed;
  background-size: cover;

}
.body-app{
  display:flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 100vh;
}
.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 23px;
 }
 .btnsign{
  background-color:   rgba(47, 128, 237, 0.64);
  border-radius: 10px;
  border: 1px solid rgba(47, 128, 237, 0.64);
  padding: 15px;
  color:#F2F2F2;

}
.btn-logout{
  background-color: transparent;
  color:#ffff;
 
}
.btn-search{
  background-color: transparent;
  color:#ffff;
  border:1px solid #ffff;
}
.search{
  width:70%;
}
.navbar-right{
  margin-right: 0;
  margin-left: auto;
}
.form-search{
  width:200px;
}
/* @media (min-width: 768px){
  .nav-search{
    width:700px;
    padding-left:25px;
    padding-right: 25px;
  }
  .search{
    width: 70%;
  }
} 
.nav-header{
  width: 100%;
}*/
/*Fin estilos*/
.route li {
  display: inline-block;
  list-style: none;
  margin: 15px;
}
a{
  text-decoration: none;
}
